
  .e{
      
     margin:10px;
    
  }
  body{
    background-color:#f7ffe6;
  }
  .a{
      border: 5px solid;
      border-radius:10px;
     border-color:#ffff00;
     width:200px;
     height:470px;
     margin-left:40%;
     background: linear-gradient(to bottom, #bf8040 0%, #ffdd99 100%);
     
  }
  .b{
     border: 5px solid;
     border-radius:10px;
     border-color:#ff3333;
     width:200px;
     height:470px;
     margin-left:40%;;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
   
  }
  .c{
     border: 5px solid;
     border-radius:10px;
     border-color:#3399ff;   
     width:200px;
     height:470px;
     margin-left: 40%;
     background: linear-gradient(to bottom, #669900 0%, #99ff66 100%);
    
     
  }
  .d{
      border: 5px solid;
     border-radius:10px;
      border-color:#00802b;
      width:200px;
      height:470px;
      margin-left: 40%;
     background: linear-gradient(to bottom, #4dffff 0%, #ffbf80 100%);
     
  }
  .f{
      border: 5px solid;
      border-radius:10px;
     border-color:#ff1a8c;
     width:200px;
     height:470px;
     margin-left: 40%;
     background: linear-gradient(to bottom, #ffffcc 0%, #ffff1a 100%);
     
  }
  .g{
      border: 5px solid;
      border-radius:10px;
     border-color:#804000;
     width:200px;
     height:470px;
     margin-left: 40%;
     background: linear-gradient(to bottom,  #ccffcc 0%, #00ffff 100%);
     
  }
  .h{
      border: 5px solid;
      border-radius:10px;
     border-color:#800060;
     width:200px;
     height:470px;
     margin-left:40%;
     background: linear-gradient(to bottom,  #ff6666 0%, #ffe6f2 100%);
    
  }
  .i{
      border: 5px solid;
      border-radius:10px;
     border-color:#fff3300;
     width:200px;
     height:470px;
     margin-left: 40%;
     background: linear-gradient(to bottom, #009999 0%,  #cce6ff 100%);
    
   .j
   {
     margin-left:50%;
  }
  .a,.b,.c,.d,.f,.g,.h,.i
  {
     padding:50px;
     margin-left:60px;
     margin-top:60px;
  }
  footer
  {
    text-align: center;
    background-color:white;
  }
  .wonder
  {
    display:inline-block;
    width: 87%;
    box-shadow: 0px 0px 20px blue;
    margin-left: 8%;
    margin-top:10%;
    position:relative;
  }
  h1,
  p,
  h2,
  footer{
     word-break:break-all;
  }
  @media screen and (max-width: 250x){
     .wonder{
         width: 50%;
     }
  }
  @media screen and (max-width: 500px){
     .wonder{
       width: 100%;
     }
  }
  @media screen and (max-width: 58px){
    .wonder{
       font-size: 3px;
    }
  }
